.tag.badge {
    color: #212529 !important;
    background-color: #f3f3f3 !important;
    box-shadow: none !important;
    margin: 2px !important;
    padding: 5px 10px !important;
    font-size: 12px;
}
